################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Evolent_ContactsManager/v15/Server/sqlite3
